<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="ClassRegDemoEntities" connectionString="metadata=res://*/EF.ClassRegModels.csdl|res://*/EF.ClassRegModels.ssdl|res://*/EF.ClassRegModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WILSON-PC\SQLEXPRESS;Initial Catalog=ClassRegDemo;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>